/* ==========================================================================
	フォント・タイポグラフィ
========================================================================== */

.c-vag{
  font-family: 'Nunito', sans-serif;
}


//行頭役物半角詰め
.c-yakumono {
  margin-left: -.5em;
}

//背景画像のalt用
.c-hidetxt {
  text-indent: 200%;//100だと出る画像がある
  white-space: nowrap;
  overflow: hidden;
}