/* ==========================================================================

========================================================================== */

.c-ttl_category{
  width: 112px;
  height: 400px;
  background: #ccc;
  float: left;

  &.is-top{
    width: 154px;
    height: auto;
  }
}